html{
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
}


/*CUSTOM SCROLLBAR start*/
html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-thumb{
    background-color: rgba(43, 43, 43, 0.353);
    border-radius: 15px;
}

html::-webkit-scrollbar-thumb:hover{
    background-color: #777;
}

html::-webkit-scrollbar-track:hover{
    background-color: rgba(166, 166, 166, 0.23);
}
/*CUSTOM SCROLLBAR end*/

.immagine-notizia-home{
    border-radius: 25px;
}

.overflow-hidden{
    overflow: hidden;
}